<div class="tangchu">
<div class="icon" style="padding-left: 30px">
    <i class="fa fa-home"></i>
    <a  routerLink="/trangchu"class="da">Trang chủ ></a>
    <a class="da" >Đăng nhập</a>
</div>
<div class="container" style="padding-top: 150px;padding-left: 360px">
    <form class="form-inline">
        <div class="form-group mb-2">
         Tên đăng nhập<br>
        
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputPassword2" placeholder="">
        </div>
      </form>
      <form class="form-inline">
        <div class="form-group mb-2">
        Mật khẩu
        </div>
        <div class="form-group mx-sm-3 mb-2"style="padding-left:40px">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="">
        </div>
      </form><br>
      <div class="quen" style="padding-left: 80px">
        <a routerLink="/dangky">Đăng ký ngay</a>
        <a routerLink="/matkhau"style="padding-left:20px">Quên mật khẩu?</a>
      </div>
     
</div>
</div>