.icon>{


position: relative;
}
.kihieu{
    position: absolute;
   
   
    background-color: black;
    color: white;
  bottom: 500px;
   
    
}
h6 {
  color: crimson;
}
.left {
 

 
  background: linear-gradient(45deg, #e61aa2, #4edadf);
}
body {
  background-image: url(/src/assets/banner3.jpg);
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}