
<!--       
        <div class="kihieu" >
            <i class="fa fa-home"></i>
            <a class="da">Trang chủ ></a>
            <a class="da">Giới thiệu</a>
        </div> -->
        <nav class="navbar navbar-expand">
                <!-- Links -->
                <ul class="navbar-nav">
                   <li class="nav-item">
                        <i class="fa fa-home"></i>
                        <a class="da">Trang chủ ></a>
                        <a class="da">Giới thiệu</a>
                   </li>
                  
                </ul>
             </nav>
             

   <!-- anh   -->
   <h2 >Dịch vụ thi trắc nghiệm online</h2>
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-4 col-sm-6"> 
      <div class="serviceBox"> 
       <div class="service-icon"> <i class="fa fa-laptop"></i> 
       </div> 
       <h3><a href="#" title="Lập Trình PHP">Lập Trình PHP</a>
       </h3> 
       <p> PHP - viết tắt hồi quy của "Hypertext Preprocessor", là một ngôn ngữ lập trình kịch bản được chạy ở phía server nhằm sinh ra mã html trên client. PHP đã trải qua rất nhiều phiên bản và được tối ưu hóa cho các ứng dụng web, với cách viết mã rõ rãng, tốc độ nhanh, 
           dễ học nên PHP đã trở thành một ngôn ngữ lập trình web rất phổ biến và được ưa chuộng.</p>
            <a class="read" href="#">Chi tiết</a> 
     
   </div> 
     </div> 
     <div class="col-md-4 col-sm-6"> 
      <div class="serviceBox"> 
       <div class="service-icon"> <i class="fa fa-briefcase"></i> 
       </div> 
       <h3><a href="#" title="Tư vấn thiết kế websit">Tư vấn thi online</a>
       </h3> 
       <p> Thi trắc nghiệm là một hình thức thi mới và được Bộ GD&ĐT chọn làm hình thức thi 
           tốt nghiệp THPT. Hình thức này tuy không khó nhưng đòi hỏi lượng kiến thức phải sâu
            và rộng, tư duy cao, phản xạ nhanh. </p> 
            <a class="read" href="#">Chi tiết</a> 
      </div> 
     </div> 
     <div class="col-md-4 col-sm-6"> 
      <div class="serviceBox"> 
       <div class="service-icon"> <i class="fa fa-mobile"></i> 
       </div> 
       <h3><a href="#" title="Lập Trình Android">Lập Trình Android</a>
       </h3> 
       <p>Hệ điều hành Android đang chiếm hơn 80% thị trường thiết bị di động hiện đại ngày nay. 
           Nhu cầu sử dụng ứng dụng di động cũng ngày càng cao. Nhu cầu việc làm về lập trình trên
            hệ điều hành mobile phổ biến nhất thế giới này cũng vì thế mà tăng mạnh do tính mở và
             dễ tiếp cận của nó.
   
    Loạt bài viết sẽ hướng dẫn các bạn các kiến thức cơ bản trong LẬP TRÌNH ANDROID. Từ Activity cho đến database Sqlite, xử lý đa phương tiện,..v…v… để các bạn có thể tự tạo ứng dụng Android của mình cho sở thích hoặc công việc. </p> 
    <a class="read" href="#">Chi tiết</a> 
      </div> 
     </div> 
    </div>
   </div>