<div class="icon">
  <i class="fa fa-home"></i>
  <a class="da">Trang chủ ></a>
  <a class="da">Hỏi đáp</a>
</div>




<div class="panel-heading">
  <h4 class="panel-title"> <a class="ing">Câu 1: trang web thi trắc nghiệm này có đảm bảo tiêu chuẩn câu hỏi quốc tế
      không?</a>
  </h4>
</div>




<p>1. Nội dung trên web hoàn toàn phù hợp với các trường hiện nay trên cả nước.</p>
<p>2. nôi dung đa đang nhiều chủ đề. tha hồ cho cac ban học hỏi thêm </p>
<p>3. Giúp phát triển tối đa của mỗi học sinh sinh sinh tham gia</p>
<p>4. các câu hỏi từ dể đến khó</p>
<h4 class="panel-title"> <a class="ing">Câu 2: tôi muốn tham gia thi thì phải làm những gi?</a>
</h4>


<h5><span class="label label-primary">Trả lời</span>
</h5>
<p>Bạn chỉ cần tạo một tài khoan rồi bắt đầu tham gia thi là được.<a href="#" target="_blank">hướng dẫn</a>.
</p>
<h4 class="panel-title"> <a class="ing">Câu 3: câu hỏi có sát với thực tế không?</a>
</h4>


<h5><span class="label label-primary">Trả lời</span>
</h5>
<p>bộ câu hỏi phù hợp với học sinh, sinh viên và thực tế.</p>
<h4 class="panel-title"> <a class="ing">Câu 4: câu hoi rất hợp lý!</a>
</h4>


<h5><span class="label label-primary">Trả lời</span>
</h5>
<p>cảm ơn bạn đã đến với trang web của chúng tôi. </p>