.col-4{
    padding: 20px;
}
.icon{
    color: greenyellow;
    font-size:48px;
    text-align: center;
    
}
.right {
 
   
    border-image: conic-gradient(red, yellow, lime, aqua, rgb(71, 71, 85), magenta, red) 1;
    background: linear-gradient(45deg, #e61aa2, #4edadf);
  }