<div class="row">
  <div class="col-4" *ngFor="let dm of danhmuc | paginate: { itemsPerPage: sotrang, currentPage: trangthu}">
    <div class="card" style="width: 18rem;text-align: center">
      <h5 class="card-title">{{dm.Id}}</h5>
      <img src="{{dm.Logo}}">
      <div class="card-body">
        <h5 class="card-title"[routerLink]="['/danhmuc',dm.id]" routerLinkActive="router-link-active" >{{dm.Name}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="icon">
  <i (click)="pre()" class="fa fa-hand-o-left" ></i>
  <i (click)="first()" class="fa fa-hand-o-up" ></i>
  <i (click)="last()" class="fa fa-hand-o-down" ></i>
  <i (click)="next()" class="fa fa-hand-o-right"></i>

</div>