<div class="container">
    <div class="banner">
      <img src="assets/banner.png" style="width: 1110px">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"style="background-color: #e3f2fd;">
        <a class="navbar-brand" routerLink="/trangchu">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/gioithieu">Giới thiệu</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"  routerLink="/lienhe">Liên hệ</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link"  routerLink="/gopy">Góp ý</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="/hoidap">Hỏi đáp</a>
                  </li>
          </ul>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tài khoản
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/dangky">
                  Đăng ký
                </a>
                <a class="dropdown-item" routerLink="/dangnhap">Đăng nhập</a> 
                <a class="dropdown-item" routerLink="/matkhau">Quên mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Đăng xuất</a>
                <a class="dropdown-item" routerLink="/doimk">Đổi mật khẩu</a>
                <a class="dropdown-item" href="#">Cập nhật tài khoản</a>
                
              </div>
            </li>
        </div>
      </nav><br>
     <div class="row">
         <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/ADAV.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
         </div>
         <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/ADBS.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/ADTE.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4"style="padding:20px">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/ADUI.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4 text-center"style="padding:20px">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/DBAV.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4 text-center"style="padding:20px">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/GAME.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4 text-center"style="padding:20px">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/HTCS.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4 text-center"style="padding:20px">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/JAAV.png"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
        <div class="col-4 text-center"style="padding:20px">
            <div class="card" style="width: 18rem;">
                <img src="assets/logos/INMA.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
        </div>
     </div>
  </div>
