<div class="container">
  
      <div class="icon">
        <i class="fa fa-home"></i>
        <a routerLink="/trangchu"class="da">Trang chủ ></a>
        <a class="da">Đổi mật khẩu</a>
    </div>
      <h2>Cài đặt mật khẩu mới</h2>
      Vui lòng cài đặt mật khẩu mới gồm 8-16 kí tự và phải khác so với tên
      đăng nhập của bạn. Mật khẩu tạo phải bao gồm ít nhất 1 kí tự từ(AZ hoặc az) và một số 0-9
  </div>
  
    
    <div class="container" style="padding-left: 360px">
        <form class="form-inline">
            <div class="form-group mb-2">
            Mật khẩu cũ<br>
            
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input  style="padding-left: 20px" type="text" class="form-control" id="inputPassword2" placeholder="">
            </div>
          </form>
          <form class="form-inline">
            <div class="form-group mb-2">
            Mật khẩu mới
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="">
            </div>
          </form><br>
          <div class="quen" style="padding-left: 80px">
            <a routerLink="/dangky">Xác nhận</a>
            <a routerLink="/matkhau"style="padding-left:20px">Quên mật khẩu?</a>
          </div>
         
    </div>
    


